.bloque-contacto{
    @extend .bloque-indicador;
    .bloque__contacto{
        @extend .indicador;
    }
}
.parrafo-consultas{
    font-family: $letraPrincipal;
    font-size: 3rem;
    border:dashed 3px black;
    padding: 3px;
    display: inline-block;
    margin-left: 160px;
    position: relative;
    top: 120px;
    right: 20px;
    box-shadow: $boxShadow;
    -webkit-box-shadow: $boxShadow;
    -moz-box-shadow: $boxShadow;
}
.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
    margin-left: 40px;
    .consultas{
        margin-left: 20px;
        table{
            background-color: grey;
            border: solid 1px black;
            color: aliceblue;
            table-layout: fixed;
            border-collapse: collapse;
            font-family: $letraPrincipal;
            font-size: 3rem;
            box-shadow: $boxShadow;
            -webkit-box-shadow: $boxShadow;
            -moz-box-shadow: $boxShadow;
            th{
                background-color: black;
                padding: 20px 15px;
                text-transform: uppercase;
                &:hover{
                    background-color: brown;
                }
                .item-consulta{
                    text-decoration: none;
                    color: white;
                    
                }
            }
        }
        .consultas__2{
            margin:10px 15px;
        }
    }
}
form{
    background-color: white;
    padding: 10px;
    width: 40%;
    color: black;
    border: dashed 3px black;
    font-family: $letraPrincipal;
    margin-bottom: 30px;   
    font-size: 1.8rem; 
    box-shadow: $boxShadow;
    -webkit-box-shadow: $boxShadow;
    -moz-box-shadow: $boxShadow;
    ul{
        padding: 0px;
        li{
            list-style: none;
            padding: 1px;
            input, textarea, select, label{
                width: 100%;
                height: 80%;
            }
        }
        .boton{
            width: 100%;
            background-image: url(../imagenes/Copia\ de\ matrix.jpeg);
            color: white;
            font-family: $letraPrincipal;
            font-size: 2rem;
            padding: 10px;
        }  
    }
}