.bloque-precios{
    @extend .bloque-indicador;
    .bloque__precios{
        @extend .indicador;
    }
}
.precios-pagos{
    display: flex;
    justify-content:space-around;
    align-items: center;
    .parrafo{
        font-family: $letraPrincipal;
        font-size: 3rem;
        border:dashed 3px black;
        padding: 3px;
        display: inline-block;
        box-shadow: $boxShadow;
        -webkit-box-shadow: $boxShadow;
        -moz-box-shadow: $boxShadow;
    }
}
.tabla__precios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    table{
        background-color: grey;
        border: solid 1px black;
        color: aliceblue;
        table-layout: fixed;
        border-collapse: collapse;
        font-family: $letraPrincipal;
        font-size: 3rem;
        box-shadow: $boxShadow;
        -webkit-box-shadow: $boxShadow;
        -moz-box-shadow: $boxShadow;
        tr{
            &:hover{
                background-color: $colorPrincipal;
            }
            th{
                background-color: black;
                padding: 20px 15px;
                text-transform: uppercase;
                text-align: center;
                &:hover{
                    background-color: brown;
                }
            }
            td{
                padding:15px;
                border-bottom: solid 1px;
                &:hover{
                    background-color: tomato; 
                }
            }
        }
    }
    .medios{
        width: 100%;
        display: inline-block;
        margin: 40px;
        table{
            background-color: grey;
            border: solid 1px black;
            color: aliceblue;
            table-layout: fixed;
            border-collapse: collapse;
            font-family: $letraPrincipal;
            font-size: 3rem;
            tr{
                &:hover{
                    background-color: $colorPrincipal;
                }
                th{
                    background-color: black;
                    padding: 20px 15px;
                    text-transform: uppercase;
                    text-align: center;
                    &:hover{
                        background-color: brown;
                    }
                }
            }
        }
    }
}
